body {
    background-color: rgb(7, 46, 48);
    color: white;
    text-align: center;
}

input[type=text], select {
    color: white;
    width: 100%;
    background-color: #e61b7310;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    box-sizing: border-box;
    
  }